    <footer class="footer">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="scripts/app.js"></script>
        
            <div class="container panel panel-default" style="text-align: center; width: fit-content; padding-top: 10px;">
                <p class="text-muted" style="font-size: 15px; color: red; font-weight: bold;">
                &copy;2020 Rosaly Mendez. All Rights Reserved. <br />
                </p>
            </div>
     </footer>
</body>
</html>