
<% include ../partials/header %>
<body>
    <header>
<% include ../partials/navbar %>
   </header>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h1> About Me </h1>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <br/>
                    <p>My name is Rosaly Mendez. I am currently a student at Centennial College, in the second year of the three-year Health Informatics Technology program. My work experience has solely revolved around electronic health records and research in the health care setting. Looking to gain skills and experience with implementing health care initiatives in the future! </p>
                    <br />
                    <p><a href="resume.pdf" download="My Resume">My Resume</a></p>
                </div>
                <div class="col-md-3">
                    <img src="../images/profile_photo.jpg" alt="Rosaly Mendez" />
                </div>
            </div>
            
            


        </div>
    </main>
    <% include ../partials/footer %>