
<% include ../partials/header %>
<body>
    <header>
<% include ../partials/navbar %>
   </header>


<style>
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
}

ul li:hover {
  background-color: #eee;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {background: #bbb;}
</style>
</head>
<body>

<h2>User List</h2>

<ul>
  <li>Username, password, email</li>
  <li>User1, user1password, user1@email.com<span class="close">&times;</span></li>
  <li>User2, user2password, user2@email.com<span class="close">&times;</span></li>
  <li>User3, user3password, user3@email.com<span class="close">&times;</span></li>
  <li>User4, user4password, user4@email.com<span class="close">&times;</span></li>
  <li>User5, user5password, user5@email.com<span class="close">&times;</span></li>
  <li>User6, user6password, user6@email.com<span class="close">&times;</span></li>
</ul>

<script>
var closebtns = document.getElementsByClassName("close");
var i;

for (i = 0; i < closebtns.length; i++) {
  closebtns[i].addEventListener("click", function() {
    this.parentElement.style.display = 'none';
  });
}
</script>





    <% include ../partials/footer %>