
<% include ../partials/header %>
<body>
    <header>
<% include ../partials/navbar %>
   </header>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h1> Projects </h1>
            </div>

            <div class="row">
                <div class="col-md-6 Projects-item">
                    <a href="/">
                        <img class="img-responsive" src="../images/project1.jpg" alt="Canon website">
                    </a>
                    <h4>
                    <a href="/">Hemispheres Restaurant Website</a>
                    </h4>
                    <p>The team at DoubleTree by Hilton Toronto Downtown approached me in Toronto with a challenge to completely revamp the Hemispheres Restaurant menu, promotional marketing materials and website design. I successfully delivered high-quality excellence ranging from creative menu designs to an outstanding website with social media marketing campaign management.</p>
                </div>
                <div class="col-md-6 Projects-item">
                    <a href="/">
                        <img class="img-responsive" src="../images/project2.jpg" alt="SWAT Protection Services">
                    </a>
                    <h4>
                    <a href="/">SWAT Protection Services</a>
                    </h4>
                    <p>SWAT Protection Services approached me with a challenge to create a website showcasing the company’s security training excellence and offer booking services for online and in-class training. I created an e-commerce solution for enrolling in online and in-class training and created over 30+ pages of copyrighted content to improve search rankings and client generation.</p>
                </div>
            </div>

        </div>
    </main>
    <% include ../partials/footer %>