
<% include ../partials/header %>
<body>
    <header>
<% include ../partials/navbar %>
   </header>
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h1> Services </h1>
            </div>
            <p>I am a premier web designer in the city of Toronto specializing in a wide range of digital marketing, web design, and creative development services. Using my strong foundation of web development and graphic design, I provide results to my clients by implementing SEO best practices and utilizing a comprehensive suite of digital marketing services.</p>
            <p><a href="/contact">Send Me an Email</a><br/><br/></p>
        </div>
    </main>
<% include ../partials/footer %>